.parallax-19 {
    background-image: url("../img/19.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    .page-content {
        display: inline-block;
        width: 100%;
        padding: $pd-4 0;
    }
    .col-md-12 {
        padding-right: $pd-3;
        padding-left: $pd-3;
    }
    .item-thumb {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-bottom: 50px;
    }
    .item-thumb img {
        width: 100%;
    }
    .item-thumb .img-circle {
        border-radius: 50%;
    }
    .item .content .content-text {
        font-size: $fs-0 + 1;
        font-style: italic;
        line-height: 30px;
        text-align: center;
        display: inline-block;
        width: 60%;
        margin: 0 auto;
    }
    .item .content .content-meta {
        margin-top: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: $fs-0 - 1;
        span {
            display: block;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: $fs-0 - 3;
        }
    }
    .comment-content.owl-theme .owl-controls {
        text-align: right;
        font-size: $fs-3;
    }
}
