.img-post.col-2 .item {
    width: 50%;
}
.img-post .item {
    position: relative;
    float: left;
    cursor: pointer;
}
.img-post .post-desk {
    position: absolute;
    top: 10%;
    left: 0;
    padding: 10%;
    .post-sub-title {
        font-size: $fs-0 + 1;  
    }
}
.img-post .item .post-desk h3{
    margin: 0 0 $mg-3 0;
}
.img-post .post-desk a {
    color: #fff;
    text-decoration: none;
}
.img-post .post-desk p{
    margin: 0 0 $mg-3;
    font-size: $fs-0;
    line-height: 30px;
}
@include responsive("small") {
    .img-post .post-desk{
        width: 60%
    }
}
